/Include
/Lib
/pyvenv.cfg
/Scripts
/Template 9300 Layer 2 IDF Config 2.docx
/Template 9300 Layer 3 Core with Workstations, Phones or Printers Config.docx
/Template 9300 Layer 3 Core without Workstations, Phones or Printers Config.docx
/test.py
/~$mplate 9300 Layer 2 IDF Config 2.docx
/~WRL1281.tmp